extends ../layout

block content
    p(class='text-3xl text-center app-text-primary') Welcome to #{app}
    div(class="my-6 app-card")
      div(class='p-8')
        p(class='text-lg my-4') Please carefully read the following instructions before starting your application.
            |  Make sure you have ready all the information you'll need in advance. 
        p(class='text-lg my-4') The list below includes all 
            | the information you will need to complete an application for employment.
        ul(class='list-disc list-inside') 
          li Name
          li Address
          li City, State, Zip Code
          li Phone Number
          li Email Address
          li Eligibility to work in the U.S.
          li Resume
      div(class="px-4 py-3 app-bg-200 text-right sm:px-6")
        a#next(href='/demo/info.htm', class="app-btn") Next
